---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Mentions légales" description="Mentions légales Green Skills.">
    <section class="container flex flex-col gap-4 margin-block mb-[var(--blocks-gap)]">
        <h1 class="font-finalSixBold text-4xl text-green">Mentions légales</h1>
        <p class="font-finalSixBook">Propriété du site : Association Synergie Family (loi 1901)<br>
            Siège administratif : 4 Rue Berthelot, 13014 Marseille, France<br>
            Siège social : 280, Boulevard Mireille Lauze, 13010 Marseille<br>
            Téléphone : 04 91 79 85 36<br>
            Adresse email : contact@synergiefamily.com<br>
            Site web : https://www.synergiefamily.com<br>
            Directeur de la publication : Frank Tortel, Directeur Général de Synergie Family<br>
            Responsable de la publication : Naïm Zriouel, Directeur Général Associé de Synergie Family<br>
            Hébergement : OVH<br>
            OVH SAS<br>
            Capital 10.000.000 € RCS Roubaix – Tourcoing 424 761 419 00045<br>
            Code APE 6202A<br>
            Siège social : 2 rue Kellermann 59100 Roubaix – France<br>
            Adresse email : support@ovh.f
        </p>

        <h2 class="font-finalSixBold text-2xl text-green">Propriété Intellectuelle</h2>

        <p class=" font-finalSixBook">Toute représentation ou reproduction partielle ou totale du site, sans l’agrément exprès de Synergie Family est interdite. Les supports publiés sur ce site, sont publiés avec l’autorisation de leur propriétaire ou auteur. Si néanmoins nous avons publié une œuvre qui vous appartient par erreur, vous êtes en droit d’en exiger le retrait en nous écrivant à contact@synergiefamily.com.</p>

        <h2 class="font-finalSixBold text-2xl text-green">R.G.P.D</h2>

        <p class="font-finalSixBook">Lors de la consultation du Site, des Cookies sont utilisés.
            Un Cookie est une information déposée sur votre appareil de navigation par le serveur du Site visité.
            Certaines parties du Site peuvent ainsi ne pas être fonctionnelles sans l’acceptation de cookies par l’utilisateur.
            Les informations collectées par ce biais ne seront utilisées que pour suivre le volume, le type et la configuration du trafic utilisant ce site, pour en développer la conception et l’agencement et à d’autres fins administratives et de planification et plus généralement pour améliorer le service que nous vous offrons.
            Ces informations ne seront pas, sauf accord de votre part, conservées plus de 13 mois.
            Vous avez la possibilité́ de désactiver les Cookies depuis les paramètres de votre navigateur.
            Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant.
            Pour exercer ce droit, merci de prendre contact avec :
        </p>

        <h3 class=" font-finalSixBold text-green">Synergie Family</h3>
        <p class="font-finalSixBook">4 Rue Berthelot, 13014 Marseille, France<br>
            Téléphone : 04 91 79 85 36<br>
            Email : contact@synergiefamily.com<br>
        </p>

        <h2 class="font-finalSixBold text-2xl text-green">Droit à l’image</h2>

        <p class="font-finalSixBook">Nous prenons nos dispositions pour obtenir les autorisations des personnes apparaissant
             dans nos photos et vidéos ou de leur représentants légaux. Vous disposez néanmoins d’un
              droit de retrait des photographies publiées sur ce site en l’absence d’autorisation expresse,
            si vous apparaissez distinctement dans la photo et non dans un groupe de personnes où vous n’êtes pas le sujet central.
             Merci d’adresser votre demande par écrit au Directeur de la Publication du site :
        </p>

        <h3 class=" font-finalSixBold text-green">Synergie Family</h3>
        <p class="font-finalSixBook">4 Rue Berthelot, 13014 Marseille, France</br>
            Téléphone : 04 91 79 85 36</br>
            Email : contact@synergiefamily.com</br>
        </p>

    </section>
</Layout>