---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Merci pour votre participation !" description="Merci pour votre participation au formulaire green skills !">
    <section class="container flex justify-center items-center h-[90vh]">
        <div id="step_tkyou">

            <img alt="greens skills synergie family" src="src/images/pictos/alveole_tkpage.svg" class="absolute top-0 right-0" />
            <div class="flex flex-col justify-center items-center h-full">
                <div class="text-green uppercase font-finalSixHeavy text-8xl text-center">Merci !</div>
                <div class=" font-finalSixMedium text-black text-lg text-center">Notre équipe vous recontactera dès que possible</div>
                <div class="mt-5">
                    <a class="text-green font-finalSixBold underline" href="/">Revenir vers la page de présentation</a>
                </div>
            </div>
        </div>
    </section>
</Layout>