---

import { Image } from 'astro:assets';
import pictoHeart from '../images/kpi/picto_heart_white 1.svg';
import pictoStorm from '../images/kpi/picto_storm_white 1.svg';
import pictoLeaf from '../images/kpi/picto_leaf_white 1.svg';


---

<div class="lg:flex lg:justify-between lg:items-center lg:gap-16">
    <div data-aos="zoom-in" data-aos-delay="300" class="flex flex-col md:flex-row md:justify-start justify-center gap-5 mt-10 lg:mt-0">
        <div class="h-[100px] w-[100px] mx-auto md:mx-0">
            <Image src={pictoHeart} alt="picto coeur"  class="w-full h-full" />
        </div>
        <div>
            <p class=" text-green font-finalSixHeavy text-6xl text-center md:text-left">6 610</p>
            <p class=" font-finalSixMedium text-sm text-center md:text-left">Talents impactés par les projets d'inclusion de Synergie Family en 2023</p>
        </div>
    </div>
    <div data-aos="zoom-in" data-aos-delay="600" class="flex flex-col md:flex-row md:justify-start justify-center gap-5 mt-10 lg:mt-0">
        <div class="h-[100px] w-[100px] mx-auto md:mx-0">
            <Image src={pictoStorm} alt="picto coeur"  class="w-full h-full" />
        </div>
        <div>
            <p class=" text-green font-finalSixHeavy text-6xl text-center md:text-left">150</p>
            <p class=" font-finalSixBold text-sm text-center md:text-left">Demandeurs d'emploi en formation ou en emploi d'ici décembre 2025</p>
        </div>
    </div>
    <div data-aos="zoom-in" data-aos-delay="900" class="flex flex-col md:flex-row md:justify-start justify-center gap-5 mt-10 lg:mt-0">
        <div class="h-[100px] w-[100px] mx-auto md:mx-0">
            <Image src={pictoLeaf} alt="picto coeur" class="w-full h-full" />
        </div>
        <div>
            <p class=" text-green font-finalSixHeavy text-6xl text-center md:text-left">500</p>
            <p class="font-finalSixBold text-sm text-center md:text-left">Demandeurs d'emploi à sensibiliser d'ici fin 2025</p>
        </div>
    </div>
</div>