---

import { Image } from "astro:assets";
import logo from '../images/logos/logo_greenskills.svg';
import logoSynergie from '../images/logos/logo_synergie.svg';

---

<header class="bg-white h-24 flex items-center justify-center">
    <div class="flex justify-center items-center gap-8 px-4 sm:px-6 lg:px-8 w-full">
      <div class="flex justify-center items-center gap-8 px-4 sm:px-6 lg:px-8 w-full">
        <a class="block" href="#">
          <Image src={logo} alt="logo green skills" width="120"/>
        </a>
        <div class="bg-green h-full w-[2px] py-6"></div>
        <a class="block" href="#">
          <Image src={logoSynergie} alt="logo green skills" width="120"/>
        </a>
      </div>
    </div>
  </header>