---

import Navbar from '../components/Navbar.astro';
import 'aos/dist/aos.css'; 

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<script src="https://cdn.jsdelivr.net/gh/ArthurPDev/KreativeScroll@main/kreativetexte.js"></script>
		<script> 
			// @ts-ignore
			import AOS from "aos"; 
			import Lenis from 'lenis'
			AOS.init({
				// once : true
				offset : window.innerHeight / 3,
				disable: 'mobile',
				once: true,
			}); 

			const lenis = new Lenis()

			lenis.on('scroll', (e:any) => {
			// console.log(e)
			})

			function raf(time:any) {
			lenis.raf(time)
			requestAnimationFrame(raf)
			}

			requestAnimationFrame(raf)
		  </script>
	</body>
</html>

<style is:global>

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	/* font  */

	@font-face {
		font-family: 'FinalSix Heavy';
		src: url('../../public/fonts/47585.otf') format('opentype');
	}
	@font-face {
		font-family: 'FinalSix Thin';
		src: url('../../public/fonts/47586.otf') format('opentype');
	}
	@font-face {
		font-family: 'FinalSix Book';
		src: url('../../public/fonts/47587.otf') format('opentype');
	}
	@font-face {
		font-family: 'FinalSix ExtraBold';
		src: url('../../public/fonts/47588.otf') format('opentype');
	}
	@font-face {
		font-family: 'FinalSix Bold';
		src: url('../../public/fonts/47589.otf') format('opentype');
	}
	@font-face {
		font-family: 'FinalSix Hairline';
		src: url('../../public/fonts/47590.otf') format('opentype');
	}
	@font-face {
		font-family: 'FinalSix Black';
		src: url('../../public/fonts/47591.otf') format('opentype');
	}
	@font-face {
		font-family: 'FinalSix Light';
		src: url('../../public/fonts/47592.otf') format('opentype');
	}
	@font-face {
		font-family: 'FinalSix Medium';
		src: url('../../public/fonts/47593.otf') format('opentype');
	}


	@layer components {
		.container {
			@apply max-w-[1240px] mr-auto ml-auto pr-[var(--h-padding)] pl-[var(--h-padding)]
		}
	}

	:root {
		--h-padding: 20px;
        --blocks-gap: 100px;
		--blocks-gap-demi: calc(var(--blocks-gap) / 2);
		--blocks-gap-tremi: calc(var(--blocks-gap) / 3);
	}

	.margin-block {
		margin-top: var(--blocks-gap);
	}

	@media screen and (min-width: 768px) {
			:global(:root) {
			--blocks-gap: 100px;
		}
	}

	#step-form {
		background: rgb(0,191,99);
		background: linear-gradient(180deg, rgba(0,191,99,1) 50%, rgba(255,255,255,1) 50%);
	}

	html.lenis, html.lenis body {
	height: auto;
	}

	.lenis.lenis-smooth {
	scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
	overflow: hidden;
	}

	.lenis.lenis-smooth iframe {
	pointer-events: none;
	}


/* 	
	.container {
		max-width: 1240px;
        margin-right: auto;
        margin-left: auto;
        padding-right: var(--h-padding);
        padding-left: var(--h-padding);
	} */
</style>